body{
    background-color:hsl(279, 100%, 93%);
}
h2{   /* AZK heading */
    font-size:70px;
    padding:0;
    margin:0;
    position:relative;
    right:-10px;
}
#container{
    text-align:center;
}
#heading2{ /* heading for guess2.html */
    font-size:4em;
    margin:30px;
    font-family:'Trebuchet MS';
    transform:translate(0%, 0%); /* so that the heading is FIXED in its position*/
}
.game_container{
    display:flex;
    justify-content:center;
    align-items:center;
}
#box1{ 
    width:300px;
    height:340px;
    border: black 2px solid;
    border-radius:20px;
    margin:80px;
    /*transform: translateX(50%); /* moves the element 50% of its own width to the RIGHT */
    /*transform: translateY(50%); /* moves the element 50% of its own height DOWNWARD */
    /* the first one (X) moves right and the second one (Y) moves down */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color:hsl(200, 100%, 78%);
}
#label1{
    font-size:2.5em;
    font-family:'Trebuchet MS';
}
#text{ /* Guess a number between 1 - 100 */
    font-family:'Trebuchet MS';
}
#box2{
    width:300px;
    height:340px;
    border: black 2px solid;
    border-radius:20px;
    margin:80px;
     /* the first one (X) moves right and the second one (Y) moves down */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color:hsl(200, 100%, 78%);
}
#label2{
    font-size:2.5em;
    font-family:'Trebuchet MS';
}
#input1{
    border-radius:10px;
    text-align:center;
    font-family:'Trebuchet MS';
    font-size:1.5em;
    border: 4px solid hsl(200, 100%, 25%);
    background-color:hsl(200, 100%, 85%);
}
#input2{
    border-radius:10px;
    text-align:center;
    font-family:'Trebuchet MS';
    font-size:1.5em;
    border: 4px solid hsl(200, 100%, 25%);
    background-color:hsl(200, 100%, 85%);
}
#button1{        /* -- SUBMIT buttons -- */
    background-color:hsl(200, 100%, 78%);
    border-radius:10px;
    border: 4px solid hsl(200, 100%, 25%);
    font-family:'Trebuchet MS';
    color:hsl(200, 100%, 10%);
    font-size:20px;
    cursor:pointer;
}
#button1:hover{
    scale:1.1;
    background-color:hsl(200, 100%,68%);
}
#button2{
    background-color:hsl(200, 100%, 78%);
    border-radius:10px;
    border: 4px solid hsl(200, 100%, 25%);
    font-family:'Trebuchet MS';
    color:hsl(200, 100%, 10%);
    font-size:20px;
    cursor:pointer;
}
#button2:hover{
    scale:1.1;
    background-color:hsl(200, 100%,68%);
}

#final_text1{    /* text that shows the correct answer and no of attempts*/
    font-size:20px;
    font-family:Verdana;
}
#final_text2{
    font-size:20px;
    font-family:Verdana;
}
.fa-solid.fa-trophy.fa-beat{ /* TROPHY icon before the winner display*/
    display:none;
    font-size:89px;
    position:relative;
    bottom:230px;
    right:-690px;
    color:hsl(46, 83%, 51%);
}
#final_text3{       /* text that shows winner */
    font-size:2.5em;
    font-style:italic;
    font-family:Verdana;
    text-align:center;
    position:relative;
    bottom:150px;
}

/* --ATTEMPTS COUNTER--  */
.attempts_container{
    display:flex;
    justify-content:center;
    align-items:center;
}
#attempts_display1{
    width:60px;
    height:60px;
    border: 2px solid black;
    border-radius:10px;
    background-color:rgb(168, 168, 255);
    position:relative;
    bottom:400px;
}
#attempts_count1{
    font-size:35px;
    text-align:center;
    position:relative;
    bottom:26px;    
}
#attempts_display2{
    width:60px;
    height:60px;
    border: 2px solid black;
    border-radius:10px;
    background-color:rgb(168, 168, 255);
    font-size:35px;
    position: relative;
    bottom:400px;
    left:400px;
}
#attempts_count2{
    font-size:35px;
    text-align:center;
    position:relative;
    bottom:26px;    
}



/*                 name_input_page.html                 */

#heading1{
    font-size:4em;
    margin:30px;
    font-family:'Trebuchet MS';
}
#input_player1{  /* Player 1 box */
    background-color:hsl(279, 100%, 78%);
    width:300px;
    height:300px;
    text-align:center;
    margin:20px;
    border: 5px hsl(279, 100%, 20%) dashed;
    border-radius:50px;
}
#input_label1{
    font-size:35px;
    position:relative;
    bottom:-20px;
}
#input_box1{
    font-size:25px;
    width:200px;
    border:none;
    border-bottom: 5px solid black;
    border-radius:15px;
    position: relative;
    bottom:-20px;
}

#input_player2{  /* Player 2 box */
    background-color:hsl(279, 100%, 78%);
    width:300px;
    height:300px;
    text-align:center;
    margin:20px;
    border: 5px hsl(279, 100%, 20%) dashed;
    border-radius:50px;
}
#input_label2{
    font-size:35px;
    position:relative;
    bottom:-20px;
}
#input_box2{
    font-size:25px;
    width:200px;
    border:none;
    border-bottom: 5px solid black;
    border-radius:15px;
    position: relative;
    bottom:-20px;
}
#input_text1{
    position:relative;
    bottom:-35px;
    font-size:22px;
    font-family:sans-serif;
    font-weight:bold;
    font-style:italic;
    color:hsl(0, 57%, 24%);
}
#input_text2{
    position:relative;
    bottom:-35px;
    font-size:22px;
    font-family:sans-serif;
    font-weight:bold;
    font-style:italic;
    color:hsl(0, 57%, 24%);
}
#startgamebtn{
    position:relative;
    top:30px;
    left:-8px;
    font-size:30px;
    background-color:hsl(300, 92%, 29%);
    border-radius:50px;
    border:2px solid antiquewhite;
    padding:20px;
    cursor: pointer; 
    color:hsl(207, 100%, 95%);
    transition:0.1s;
}
#startgamebtn:hover{
    border: black 3px solid;
    scale:1.3;
    background-color:hsl(247, 67%, 44%);
}
a{     /* link inside the startgamebtn */  
    text-underline-position:none;  
}
#container2{
    text-align:center;
}
.input_container{
    display:flex;
    justify-content:center; /* Horizontal center */
    align-items:center;  /* Vertical center */
}

/* --MOBILE VERSION-- */

/* <600px 601px 768px 992px 1200px --- STANDARD BREAKPOINTS */ 

@media only screen and (max-width: 600px){ /* everything below 600px */
    #container2{
        display:block;
    }
    .input_container {
        display:block;
        width:90%;
    }
    #input_player1{  /* Player 1 box */
        background-color:hsl(279, 100%, 78%);
        width:300px;
        height:300px;
        text-align:center;
        margin:20px;
        border: 5px hsl(279, 100%, 20%) dashed;
        border-radius:50px;
    }
    #input_box1{
        font-size:25px;
        width:180px;
        border:none;
        border-bottom: 5px solid black;
        border-radius:15px;
        position: relative;
        bottom:-20px;
    }
    #input_box2{
        font-size:25px;
        width:180px;
        border:none;
        border-bottom: 5px solid black;
        border-radius:15px;
        position: relative;
        bottom:-20px;
    }
    #startgamebtn{
        display:block;
        text-align: center;
        position:relative;
        left:100px;
        font-size:30px;
        background-color:hsl(300, 92%, 29%);
        border-radius:50px;
        border:2px solid antiquewhite;
        padding:20px;
        cursor: pointer; 
        color:hsl(207, 100%, 95%);
        transition:0.1s;
    }
}






